﻿
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Home
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Your Page Content Here -->
    <div>
        <!--<div ng-show="applicationReady" ng-init="$scope.getUsers()">-->
        <div>
            <h1 ng-show="!applicationReady">Loading please wait...</h1>
            <div ng-show="applicationReady" class="container text-center center-block">
                <h2>Home Page</h2>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
