﻿@{
    ViewBag.Title = "The Gig";
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="AngularApp">
<head>
    <meta name="viewport" content="initial-scale=1">
    <base href="~/">
    <title>@ViewBag.Title</title>



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/AngularApp")

    @*<link href="~/Content/expats.min.css" rel="stylesheet" />*@
</head>
<body class="skin-blue sidebar-mini">

    <div class="navbar navbar-default navbar-static-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navbarProperties.isCollapsed = !navbarProperties.isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="/#/home" ng-if="currentUser.userType == 'Admin'"><img src="/Assets/Images/DocChat-1.png" height="20px" width="150px" /></a>
                    <a class="navbar-brand" href="/#/patientHome" ng-if="currentUser.userType == 'Patient'"><img src="/Assets/Images/DocChat-1.png" height="20px" width="150px" /></a>
                    <a class="navbar-brand" href="/#/doctorHome" ng-if="currentUser.userType == 'Doctor'"><img src="/Assets/Images/DocChat-1.png" height="20px" width="150px" /></a>*@
                <a class="navbar-brand" href="/#/home">Home</a>
                <a class="navbar-brand" href="/#/about">About</a>
                <a class="navbar-brand" href="/#/news">News</a>

            </div>
            <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
                <ul class="nav navbar-nav" ng-show="currentUser.loggedIn">
                    @*<li class="dropdown" dropdown="" ng-show="userHasPrivileges()">*@
                    <li class="dropdown" dropdown="">
                        <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                            <span>Configuration</span><b class="caret"></b>
                        </a>

                        @*<ul class="dropdown-menu" role="menu">
                                <li ng-show="isAllowed('BiometricMaintenance')">
                                    <a href="/#/biometric">Biometric Maintenance</a>
                                </li>
                                <li ng-show="isAllowed('RoleMaintenance')">
                                    <a href="/#/roleMaintenance">Role Maintenance</a>
                                </li>
                                <li ng-show="isAllowed('UserMaintenance')">
                                    <a href="/#/userMaintenance">User Maintenance</a>
                                </li>
                                <li ng-show="isAllowed('PatientMaintenance')">
                                    <a href="/#/patientMaintenance">Patient Maintenance</a>
                                </li>
                                <li ng-show="isAllowed('DoctorMaintenance')">
                                    <a href="/#/doctorMaintenance">Doctor Maintenance</a>
                                </li>

                            </ul>*@
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/#/venues">Venues</a>
                            </li>
                            <li>
                                <a href="/#/events">Events</a>
                            </li>
                            <li>
                                <a href="/#/news">News</a>
                            </li>
                            <li>
                                <a href="/#/tickets">Tickets</a>
                            </li>
                            <li>
                                <a href="/#/users">Users</a>
                            </li>
                            <li>
                                <a href="/#/subscription">Subscriptions</a>
                            </li>
                            <li>
                                <a href="/#/accounts">Acoounts</a>
                            </li>

                        </ul>

                    </li>

                    @*<li ng-if="currentUser.userType == 'Patient'"><a href="/#/chat/0">Chat</a></li>
                        <li ng-if="currentUser.userType == 'Patient'"><a href="/#/patientBiometric/0">My Biometrics</a></li>*@

                    <li><a href="/#/chat/0">Chat</a></li>
                    <li><a href="/#/events/0">My Events</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="!currentUser.loggedIn">
                    <li>
                        <a href="/#/login">Login</a>
                    </li>
                    <li>
                        <a href="/#/register">Register</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-show="currentUser.loggedIn">
                    <li>
                        <a href="/#/myProfile">Welcome {{currentUser.displayName}}</a>
                    </li>

                    <li>
                        <a href="#" ng-click="logout()">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <toaster-container toaster-options="{'time-out':7000}"></toaster-container>
    </div>
    <div class="container mainContent">
        <div ng-view>
        </div>
    </div>
    <div id="footer" class="center-block">
        <div class="container mainContent">
        </div>
    </div>
</body>

</html>